.nav-header .brand-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    color: #000;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
}